{% extends 'layout/base.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
	
	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns is-marginless">
					<div class="column highlight-item" style="background-image: url({{highlight.url}});">

						<h1>{{highlight.title}}</h1>	

					</div>
				</div>
			</div>

			<div class="thumbnail">
				<div class="columns is-marginless">
					{% for item in thumbnail %}
					<div class="column thumbnail-item is-paddingless" 
					style="background-image: url({{item.url}});">
						{{item.title}}
					</div>
					{% endfor %}
					

					</div>
				</div>
			</div>
		</section>

		<section class="section we-present">
			<div class="container">
				<div class="columns">

					<div class="column has-text-left">
						LASTET
					</div>

					<div class="column has-text-centered">
						WE Present
					</div>

					<div class="column has-text-right">
						SEARCH
					</div>
				</div>

				<div class="columns is-multiline">
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/img/we-preset/img-1.jpg" alt="image-1">
								</figure> 
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">ONE</h3>
								<h4 class="subtitle is-6">Story of ONE</h4>
								<p>
									111111111111111111111
									111111111111111111111
								</p>
				
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/img/we-preset/img-2.jpg" alt="image-2">
								</figure> 
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">TWO</h3>
								<h4 class="subtitle is-6">Story of TWO</h4>
								<p>
									222222222222222222222
									222222222222222222222
								</p>
				
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/img/we-preset/img-3.jpg" alt="image-3">
								</figure> 
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">THREE</h3>
								<h4 class="subtitle is-6">Story of THREE</h4>
								<p>
									333333333333333333333
									333333333333333333333					
								</p>
				
							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/img/we-preset/img-4.jpg" alt="image-4">
								</figure> 
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">FOUR</h3>
								<h4 class="subtitle is-6">Story of FOUR</h4>
								<p>
									444444444444444444444
									444444444444444444444
								</p>
				
							</div>
						</div>
					</a>


					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/img/we-preset/img-5.jpg" alt="image-5">
								</figure> 
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">FIVE</h3>
								<h4 class="subtitle is-6">Story of FIVE</h4>
								<p>
									555555555555555555555
									555555555555555555555
								</p>
				
							</div>
						</div>
					</a>

					
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/img/we-preset/img-6.jpg" alt="image-3">
								</figure> 
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">SIX</h3>
								<h4 class="subtitle is-6">Story of SIX</h4>
								<p>
									666666666666666666666
									666666666666666666666
								</p>
				
							</div>
						</div>
					</a>
				</div>
			</div>

			</div>
		</section>
	</main>
{% endblock %}
