<header>
	<div class="has-text-centered"> 
		<img src="/assets/img/logo.png" alt="" width="145" height="auto">
	</div>
	<nav class="navbar-tabs">
		<a href="#" class="navbar-item">Aa</a>
		<a href="#" class="navbar-item">Bb</a>
		<a href="#" class="navbar-item">Cc</a>
		<a href="#" class="navbar-item">Dd</a>
		<a href="#" class="navbar-item">Ee</a>
		<a href="#" class="navbar-item">Ff</a>
		<a href="#" class="navbar-item">Gg</a>
	</nav>
	</header>
